.page {
  background-image: url(./images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--main-gap);
  font-size: var(--main-text-size);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
}
